<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="할 일 목록들을 정리하는 To-do list">
    <title>To-do list</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}" />
  </head>



  <body>
    <main>
      <form action="{% url 'main:add' %}" method="POST">
        {% csrf_token %}
        <div class="write">
          <p>내용: </p><input type="text" name="content" wrap = "virtual" rows = "1" cols="30"><br>
          <p>상세내용: </p><input type="text" name="information" wrap = "virtual" rows = "1" cols="30"><br>
        </div>
        <input type="submit" name="" value="추가하기">
      </form>
    </main>
    

    <footer>
      <p><small>&copy; 2021 Dezeli</small></p>
      <p><small>haterecursive@gmail.com</small></p>
      <p>
      <a href="https://github.com/Dezeli">Github /</a>
      <a href="https://haterecursive.tistory.com/">Tistory /</a>
      </p>
    </footer>
  </body>
</html>
