<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="할 일 목록들을 정리하는 To-do list">
    <title>To-do list</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}" />
  </head>


  <body>
    <main>
      {% if Do_list_data %}
      {% for data in Do_list_data %}
      <a href="{% url 'main:detail' data.id %}">{{ data.content }}</a>
      {% endfor %}
      {% else %}
      <p>No list are available.</p>
      {% endif %}
      <form action="{% url 'main:add' %}" method="GET">
          <input type="submit" name="" value="추가하기">
      </form>
    </main>

    <footer>
      <p><small>&copy; 2021 Firoms</small></p>
      <p><small>  edisonmessi@naver.com</small></p>
      <p>
      <a href="https://github.com/Firoms">Github /</a>
      <a href="https://firoms.tistory.com/">Tistory /</a>
      <a href="https://www.youtube.com/channel/UCvjZ9NUicMKNc2GzQoFeyRA/">Youtube</a>
      </p>
    </footer>
  </body>
</html>




